* {
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  font-family: -apple-system, BlinkMacSystemFont, 
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", 
    "Fira Sans", "Droid Sans", "Helvetica Neue", 
    sans-serif;
}

body {
  height: inherit;
  width: inherit;
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ddd;
}

button, .button, input, select {
  border: 1px solid #ccc;
}

button, .button, select {
  font-size: 12px;
  padding: 7px 12px;
  background-color: #eee;
  padding: 7px 12px;
  cursor: pointer;
  margin-right: 4px;
}

select {
  height: 31px;
}

button:hover, .button:hover {
  background-color: #fff;
}

button:active {
  color: white;
  background-color: #000;
}

input, label {
  font-size: 12px;
}

input[type=text] {
  padding: 7px;
  margin: 0 5px;
  width: 60px;
}

input[disabled] {
  color: #ccc;
}

label:not(.button) {
  margin: 0 4px;
}
